@charset "UTF-8";
body{
   color: white;
   text-align: center;
   background-color: black;
}
header{
   padding: 20px;
}
.title-principal{
   text-align: left;
   width: 300px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#image{
   text-align: right;
   display: block;
}
#imgprinc{
   margin: 30px;
   width: 40%;
}
.contato{
   margin: 50px;
}
a{
   font-size: small;
   color: white;
}